services:
  tdarr:
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    network_mode: bridge
    ports:
      - "{{ tdarr_webui_port }}:8265" # webUI port
      - "{{ tdarr_server_port }}:8266" # server port
    environment:
      - TZ={{ tdarr_timezone }}
      - PUID={{ tdarr_puid }}
      - PGID={{ tdarr_pgid }}
      - UMASK_SET={{ tdarr_umask }}
      - serverIP=0.0.0.0
      - serverPort={{ tdarr_server_port }}
      - webUIPort={{ tdarr_webui_port }}
      - internalNode=true
      - inContainer=true
      - ffmpegVersion=7
      - nodeName=MyInternalNode
      - auth=false
      - openBrowser=true
      - maxLogSizeMB=10
      - cronPluginUpdate=
    volumes:
      - "{{ tdarr_server_dir }}:/app/server"
      - "{{ tdarr_configs_dir }}:/app/configs"
      - "{{ tdarr_logs_dir }}:/app/logs"
      - "{{ tdarr_media_dir }}:/media"
      - "{{ tdarr_transcode_cache }}:/temp"

    devices:
      - "{{ tdarr_devices[0] }}"

networks:
  default:
    name: nas
    external: true
