- name: Install monitoring packages
  ansible.builtin.apt:
    pkg:
      - samba

- name: Copy samba conf with owner and permissions
  ansible.builtin.template:
    src: "{{ role_path }}/templates/smb.conf"
    dest: /etc/samba/smb.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart samba

- name: Allow samba in firewall
  community.general.ufw:
    rule: allow
    name: samba
