services:
  qbittorrent:
    image: ghcr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    environment:
      - PUID={{ qbittorrent_uid }}
      - PGID={{ qbittorrent_gid }}
      - TZ={{ qbittorrent_timezone }}
      - UMASK={{ qbittorrent_umask }}
      - WEBUI_PORT={{ qbittorrent_webui_port }}
    volumes:
      - "{{ nas_docker_directory }}/qbittorrent:/config"
      - "{{ qbittorrent_download_dir }}:/downloads"
      - "{{ qbittorrent_library_dir }}:/library"

    ports:
      - 6881:6881
      - 6881:6881/udp
      - '{{ qbittorrent_webui_port }}:1337'
    restart: unless-stopped

  qbit_manage:
    image: ghcr.io/stuffanthings/qbit_manage:latest
    container_name: qbit_manage
    volumes:
      - '{{ nas_docker_directory }}/qbit_manage/:/config:rw'
      - '{{ qbittorrent_download_dir }}:/downloads:rw'
      - '{{ qbittorrent_library_dir }}:/library:rw'
      - '{{ nas_docker_directory }}/qbittorrent/:/qbittorrent/:ro'
    ports:
      - "8087:8080"
    environment:
      - QBT_WEB_SERVER=true
      - QBT_PORT=8080

      - TZ={{ qbittorrent_timezone }}
      # Scheduler Configuration
      - QBT_RUN=false
      - QBT_SCHEDULE=1440
      - QBT_CONFIG_DIR=/config
      - QBT_LOGFILE=qbit_manage.log

      # Logging Configuration
      - QBT_LOG_LEVEL=INFO
      - QBT_LOG_SIZE=10
      - QBT_LOG_COUNT=5
      - QBT_DIVIDER==
      - QBT_WIDTH=100
    restart: unless-stopped

networks:
  default:
    name: nas
    external: true
