[Unit]
Description=Restic Backup for Immich
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/backup-immich.env
ExecStart=/usr/bin/restic backup --verbose --tag immich ${BACKUP_SOURCE}
ExecStartPost=/usr/bin/restic forget --prune --keep-daily 7 --keep-weekly 4 --keep-monthly 12
Nice=10
IOSchedulingClass=idle
ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
