export AWS_ACCESS_KEY_ID="{{ backup_immich_aws_access_key_id }}"
export AWS_SECRET_ACCESS_KEY="{{ backup_immich_aws_secret_access_key }}"
export RESTIC_REPOSITORY="{{ backup_immich_restic_repository_path }}"
export RESTIC_PASSWORD={{ backup_immich_restic_password }}
