---
services:
  sonarr:
    image: ghcr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID={{ arr_stack_puid }}
      - PGID={{ arr_stack_pgid }}
      - TZ={{ arr_stack_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - '{{ arr_stack_sonarr_config_dir }}:/config'
      - '{{ arr_stack_series_dir }}:/tv'
      - '{{ arr_stack_downloads_dir }}:/downloads'
      - '{{ arr_stack_seedbox_downloads_dir }}:/seedbox'
    ports:
      - '{{ arr_stack_sonarr_port }}:8989'
    restart: unless-stopped

  radarr:
    image: ghcr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID={{ arr_stack_puid }}
      - PGID={{ arr_stack_pgid }}
      - TZ={{ arr_stack_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - '{{ arr_stack_radarr_config_dir }}:/config'
      - '{{ arr_stack_movies_dir }}:/movies'
      - '{{ arr_stack_downloads_dir }}:/downloads'
      - '{{ arr_stack_seedbox_downloads_dir }}:/seedbox'
    ports:
      - '{{ arr_stack_radarr_port }}:7878'
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID={{ arr_stack_puid }}
      - PGID={{ arr_stack_pgid }}
      - TZ={{ arr_stack_timezone }}
    volumes:
      - '{{ arr_stack_bazarr_config_dir }}:/config'
      - '{{ arr_stack_movies_dir }}:/movies'
      - '{{ arr_stack_series_dir }}:/tv'
    ports:
      - '{{ arr_stack_bazarr_port }}:6767'
    restart: unless-stopped

  jackett:
    image: ghcr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID={{ arr_stack_puid }}
      - PGID={{ arr_stack_pgid }}
      - TZ={{ arr_stack_timezone }}
      - AUTO_UPDATE=true
    volumes:
      - '{{ arr_stack_jackett_config_dir }}/config:/config'
      - '{{ arr_stack_jackett_config_dir }}/download_blackhole:/downloads'
      - /etc/localtime:/etc/localtime:ro
    ports:
      - '{{ arr_stack_jackett_port }}:9117'
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID={{ arr_stack_puid }}
      - PGID={{ arr_stack_pgid }}
      - TZ={{ arr_stack_timezone }}
    volumes:
      - '{{ arr_stack_prowlarr_config_dir }}:/config'
    ports:
      - 9696:9696
    restart: unless-stopped

  recomendarr:
    image: tannermiddleton/recommendarr:latest
    container_name: recomendarr
    volumes:
      - '{{ arr_stack_recomendarr_config_dir }}:/app/server/data'
    ports:
      - '{{ arr_stack_recomendarr_port }}:3000'
    restart: unless-stopped

  seerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    init: true
    container_name: seerr
    environment:
      - LOG_LEVEL=debug
      - TZ={{ arr_stack_timezone }}
    ports:
      - '{{ arr_stack_seerr_port }}:5055'
    volumes:
      - '{{ arr_stack_seerr_config_dir }}:/app/config'
    # healthcheck:
    #   test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
    #   start_period: 20s
    #   timeout: 3s
    #   interval: 15s
    #   retries: 3
    restart: unless-stopped

  profilarr:
      image: santiagosayshey/profilarr:beta
      container_name: profilarr
      ports:
          - '{{ arr_stack_profilarr_port }}:6868'
      volumes:
          - '{{ arr_stack_profilarr_config_dir }}:/config'
      environment:
          - TZ={{ arr_stack_timezone }}
      restart: unless-stopped

networks:
  default:
    name: nas
    external: true
